<mat-card class="psw-card">
  <mat-card-title>
    Change Password
  </mat-card-title>

  <mat-card-content>
    <form class="psw-form" [formGroup]="formGroup" (submit)="changePassword()">
     <mat-form-field class="psw-form__field" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password"  autocomplete="off">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="showRequiredError">Required</mat-error>
        <mat-error *ngIf="showMatchError">Confirmation does not match</mat-error>
      </mat-form-field>

      <mat-form-field class="psw-form__field" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="confirm"  autocomplete="off">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <ng-container *ngIf="(stability$ | async) as stability">
        <div class="psw-form__messages">
          <div class="validation-msg" [class.validation-msg_invalid]="stability.minlength === false">
            At least 6 characters long
          </div>
          <div class="validation-msg" [class.validation-msg_invalid]="stability.uppercase === false">
            Contains a uppercase letters
          </div>
          <div class="validation-msg" [class.validation-msg_invalid]="stability.numbers === false">
            Contains a number
          </div>
        </div>
    
        <div class="psw-form__actions">
          <button mat-flat-button
            [disabled]="loading$.value || formGroup.invalid || !stability.minlength || !stability.numbers || !stability.uppercase"
            color="accent"
            type="submit"
            class="psw-button"
          >
            Submit
          </button>
        </div>
      </ng-container>
      
    </form>
  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>