:host {
  display: flex;
  height: 100vh;
  background: url(../../assets/auth-background.svg);

  mat-form-field {
    width: 100%;
  }
}

.psw-card {
  width: 400px;
  margin: auto;

  mat-card-title {
    margin: 20px 0;
    text-align: center;
  }

  mat-card-content {
    margin: 40px 0;
  }
}

.psw-form {
  &__field {
    margin-bottom: 10px;
  }

  &__actions {
    display: flex;
    margin-top: 40px;

    .psw-button {
      margin-left: auto;
      text-transform: uppercase;
      width: 150px;
    }
  }
}

.psw-form__messages {
  .validation-msg {
    &_invalid {
      color: #f44336;
    }
  }
}

.psw-banner {
  &_success {
    color: green;
  }
  &_failure {
    color: #f44336;
  }
}